---
layout: default
---

<style>
/* Links */
a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #ad1216;
}

a:active {
  text-decoration: none;
  color: #000000;
}
</style>


{% assign artist = page.url %}
{% assign artist = artist | slice: 9, 40 %}

{% assign taiteilijat=strapi.collections.artists | where:"tunniste", artist %}
{% for taiteilija in taiteilijat %}
  <h1>{{ taiteilija.etunimi }}&nbsp;{{ taiteilija.sukunimi }}, (s. {{ taiteilija.syntymavuosi }})</h1>
  <div>
  {{ taiteilija.esittely }}
  </div>
{% endfor %}

{% assign teokset=strapi.collections.works | where:"tait_tunniste", artist  %}
<div>
<ul class="list-group">
{% for teos in teokset %}
  <li class="list-group-item">
    <a href="/works/{{ teos.tunniste }}">{{ teos.teosnimi }}</a>
  </li>
{% endfor %}
</ul>
</div>
